/* =====================
   ------- AM.ru -------
   ===================== */

* {
    margin: 0;
    padding: 0;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

HTML, BODY {
    width: 100%;
    height: 100%;
}

BODY {
    font: 13px/18px Arial, sans-serif;
}

input, textarea {
    font: 13px/18px Arial, sans-serif;
}

.wrapper {
    padding: 50px 50px 0 50px;
}

/* =====================
   ------- UList -------
   ===================== */

.ulist-box {
    padding-bottom: 50px;
    float: left;
}

.ulist {    
    margin-top: 20px;
    display: inline-block;
    color: #fff;
}

.lt-ie8 .ulist {
    display: inline;
    zoom: 1;
}

.ulist:first-child {
    margin-top: 0;
}

.ulist-title {
    height: 38px;
    line-height: 38px;
    padding: 0 40px 0 33px;
    color: #102A44;
    background: #ffb540;
    cursor: pointer;
    position: relative;
    white-space: nowrap;

    -webkit-border-radius: 10px 10px 0 0;
       -moz-border-radius: 10px 10px 0 0;
            border-radius: 10px 10px 0 0;
}

.ulist-hidden .ulist-title {
    background: #2C4966;
    color: white;

    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;

    -webkit-transition: -webkit-border-radius 0.3s .25s, background 0.3s, color 0.3s;
       -moz-transition:    -moz-border-radius 0.3s .25s, background 0.3s, color 0.3s;
            transition:         border-radius 0.3s .25s, background 0.3s, color 0.3s;
}

.ulist-list {
    list-style: none;
}

.ulist-item-last {
    -webkit-border-radius: 0 0 10px 10px;
       -moz-border-radius: 0 0 10px 10px;
            border-radius: 0 0 10px 10px;
}

.ulist-item {
    padding: 0 10px 0 10px;
    border-top: 2px solid #2C4966;
    cursor: pointer;
    line-height: 38px;
    background: #345372;

    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
}

.ulist-item-inner {
    display: block;
}

.ulist-item-active {
    background: #2C4966;
}

.ulist-item i {
    float: left;
    margin: 12px 10px 0 0;
    width: 13px;
    height: 13px;
    background: url('am.png') -20px 0 no-repeat;
}

.ulist-item-active.ulist-item i {
    background-position: 0 0;
}

.ulist-hidden .ulist-icon-arrow {
    width: 7px;
    height: 11px;
    left: 13px;
    margin-top: -5px;
    background-position: -20px -20px;
}

.ulist-icon-arrow {
    position: absolute;
    display: block;
    width: 12px;
    height: 7px;
    left: 10px;
    top: 50%;
    margin-top: -3px;
    background: url('am.png') 0 -20px;
}

.ulist-icon-control {
    position: absolute;
    top: 50%;
    margin-top: -9px;
    display: block;
    width: 20px;
    height: 18px;
    right: 10px;
    background: url('am.png') no-repeat;
}

.ulist-item:first-child {
    border-top: none;
}

              .ulist-icon-control          { background-position:   0px -80px;  }
              .ulist-icon-control-full     { background-position: -20px -80px;  }
              .ulist-icon-control-not-full { background-position: -40px -80px;  }
.ulist-hidden .ulist-icon-control          { background-position:   0px -100px; }
.ulist-hidden .ulist-icon-control-full     { background-position: -20px -100px; }
.ulist-hidden .ulist-icon-control-not-full { background-position: -40px -100px; }

/* End | Ulist */

/* =============================
   ------- jForm & Yabble-------
   ============================= */

.jform {
    float: left;
    width: 400px;
    padding-left: 50px;
}

.jform-field-box {
    display: inline-block;
    border: 1px solid #345372;

    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
}

.lt-ie8 .jform-field-box {
    zoom: 1;
    display: inline;
}

.jform-field {
    margin-left: 10px;
    width: 254px;
    outline: none;
    padding: 5px 0 5px 0;
    border: none;
    background: none;
    height: 18px;
    float: left;
}

.jform-btn {
    float: left;
    background: #345372;
    color: white;
    line-height: 24px;
    padding: 0 10px;
    cursor: pointer;
    margin: 2px 2px 0 0;

    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
}

.jform-btn:hover {
    background: #2C4966;
}

.css3-no-placeholder .jform-field {
    color: #b1a9a9;
}

.css3-no-placeholder .jform-field.b-active {
    color: #000;
}

.jform-title {
    margin-top: 6px;
}

.jform-inner {
    margin-top: 10px;
}

.yabble {
    position: relative;
    cursor: pointer;
    color: white;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 25px 0 10px;
    background: #345372;
    margin: 5px 5px 5px 0;
    white-space: nowrap;

    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}

.yabble-close {
    position: absolute;
    right: 7px;
    top: 8px;
    width: 13px;
    height: 13px;
    background: url('am.png') -40px -40px;
}

.yabble-inner {
    float: left;
}

/* End | jForm & Yabble */

/* =======================
   ------- Corners -------
   ======================= */

.ulist-title .ulist-corner-left,
.ulist-title .ulist-corner-right {
    position: absolute;
    top: 0;
}

.ulist-corner-left,
.ulist-corner-right {
    display: none;
    width: 10px;
    height: 38px;
    background: url('am.png') no-repeat;
}

.ulist-title .ulist-corner-left {
    left: 0;
}

.ulist-title .ulist-corner-right {
    right: 0;
}

.ulist-item-last .ulist-corner-left {
    float: left;
}

.yabble .ulist-corner-left,
.yabble .ulist-corner-right {
    height: 28px;
    float: left;
}

              .ulist-title       .ulist-corner-left  { background-position:   0px -120px; }
              .ulist-title       .ulist-corner-right { background-position: -10px -120px; }
.ulist-hidden .ulist-title       .ulist-corner-left  { background-position: -20px -120px; }
.ulist-hidden .ulist-title       .ulist-corner-right { background-position: -30px -120px; }
              .ulist-item-last   .ulist-corner-left  { background-position: -40px -120px; }
              .ulist-item-last   .ulist-corner-right { background-position: -50px -120px; }
              .ulist-item-active .ulist-corner-left  { background-position: -60px -120px; }
              .ulist-item-active .ulist-corner-right { background-position: -70px -120px; }
              .yabble            .ulist-corner-left  { background-position: -80px -120px; }
              .yabble            .ulist-corner-right { background-position: -90px -120px; }

/* End | Corners */

/* ========================
   ------- IE - FIX -------
   ======================== */

.lt-ie8 .jform-title {
    margin-top: 10px;
}


/* Yabble */

.ie8 .yabble {
    float: left;
}

.lt-ie9 .yabble {
    background: none;
    padding: 0;
}

.lt-ie9 .yabble-inner {
    background: #345372;
    padding: 0 15px 0 0;
}

/* End | Yabble */

/* Title */

.lt-ie9 .ulist-title {
    background: none;
    padding: 0;
}

.lt-ie9 .ulist-title-inner {
    padding: 0 30px 0 23px;
    margin: 0 10px;
    background: #ffb540;
}

.lt-ie9 .ulist-hidden .ulist-title-inner {
    background: #2C4966;
}

.lt-ie9 .ulist-icon-arrow {
    left: 10px;
}

.lt-ie9 .ulist-icon-control {
    right: 10px;
}

/* End | Ttitle */

.lt-ie9 .ulist-corner-left,
.lt-ie9 .ulist-corner-right {
    display: block;
}

.lt-ie9 .ulist-item-last {
    padding: 0;
    background: none;
    width: 100%;
}

.lt-ie9 .ulist-item-inner {
    background: #345372;
    margin: 0 10px;
}

.lt-ie9 .ulist-item-active .ulist-item-inner {
    background: #2C4966;
}

.lt-ie9 .ulist-item-last .ulist-corner-right {
    float: right;
    display: none;
    margin-top: -38px;
}

/* End | IE - FIX */

/* End | AM.ru */