/* =======================
   ------- Task 17 -------
   ======================= */

*
    padding 0
    margin 0

HTML, BODY
    width 100%
    height 100%

BODY
    background url(/images/task17.bg.png) repeat

.wrapper
    padding 100px 0 0 100px

/* ------- Nav -------
   =================== */

.nav
    display inline-block
    font 13px Tahoma, sans-serif
    line-height 40px
    border 1px solid #25272b
    overflow hidden
    border-radius 4px
    box-shadow 0 1px 2px 0 rgba(0, 0, 0, .3), 0 -1px 0 rgba(26, 26, 26, .15)

    &__item
        position relative
        min-width 198px
        border-top 1px solid #292b30

    &__item:first-child
        border-top none

    &__item:first-child &__link
        border-radius 4px 4px 0 0

    &__item:last-child &__link
        border-radius 0 0 4px 4px

    &__link
        display block
        color #d9ddea
        text-shadow 1px 1px #33353b
        text-decoration none
        padding-left 40px

    &__item > &__link
        background linear-gradient(to bottom, #4c4e58 0%, #3f424a 100%)
        box-shadow inset 1px 1px 0 0 #5e6169

    &__link:before
        content ""
        position absolute
        width 18px
        height 18px
        left 11px
        top 11px
        background-position center
        background-repeat no-repeat
        background-size contain

    &__notify
        float right
        position relative
        margin-right 25px

    &__notify:after
        content ""
        display block
        position absolute
        width 5px
        height 5px
        top 50%
        right -10px
        margin-top -2px
        border 1px solid #2c2b30
        background linear-gradient(to bottom, #f49595 0%, #ea3636 100%)
        border-radius 5px
        box-shadow 0 0 2px rgba(255, 0, 0, 0.2)

    &__item-has-sub > &__link:after
        content ""
        display block
        position absolute
        width 11px
        height 6px
        top 18px
        right 13px
        transition transform 0.2s
        background url(/images/arrow-down.png) center no-repeat
        
    &__item-has-sub:hover > &__link:after
        transform rotate(180deg)
        
    &__icon_home:before
        background-image url(/images/home-black.svg)

    &__item:hover &__icon_home:before
        background-image url(/images/home.svg)

    &__icon_gallery:before
        background-image url(/images/gallery-black.svg)

    &__item:hover &__icon_gallery:before
        background-image url(/images/gallery.svg)

    &__icon_logout:before
        background-image url(/images/logout-black.svg)

    &__item:hover &__icon_logout:before
        background-image url(/images/logout.svg)

    &__icon_sub:before
        background-size initial
        background-image url(/images/point.png)

/* End | Nav */

/* ------- Sub Nav -------
   ======================= */

.subnav
    overflow hidden
    height 0
    transition height 0.25s linear

    &:hover,
    .nav__link:hover ~ &_size_3
        height 123px

    &__item
        position relative
        border-top 1px solid #292b30

    &__link
        background linear-gradient(to bottom, #35373d 0%, #313339 100%)
        box-shadow inset 0 1px 0 0 #3a3c42

    &__item:first-child &__link
        box-shadow inset 0 2px 1px -1px rgba(34, 34, 34, 0.25)

    &__item:last-child &__link
        box-shadow inset 0 -2px 1px -1px rgba(34, 34, 34, 0.3), inset 0 2px 1px -2px rgba(255, 255, 255, 0.25)

    &__link:hover
        background linear-gradient(to bottom, #3a60d1 0%, #2b48c1 100%)
        box-shadow inset 1px 1px 0 0 #5072d4
        text-shadow 1px 1px #253d95

    &__link:hover.nav__icon_sub:before
        background-size initial
        background-image url(/images/point-active.png)

/* End | Sub Nav */

/* End | Task 17 */