/* =======================
   ------- Task 17 -------
   ======================= */
HTML, BODY {
  width: 100%;
  height: 100%; }

BODY {
  background: url("http://maiordom.github.io/images/css-live/task17.bg.png") repeat; }

.wrapper {
  padding: 100px 0 0 100px; }

/* ------- Nav -------
   =================== */
.nav {
  display: inline-block;
  font: 13px Tahoma, sans-serif;
  line-height: 40px;
  border: 1px solid #25272b;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 -1px 0 rgba(26, 26, 26, 0.15);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 -1px 0 rgba(26, 26, 26, 0.15);
  -o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 -1px 0 rgba(26, 26, 26, 0.15);
  -ms-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 -1px 0 rgba(26, 26, 26, 0.15);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 -1px 0 rgba(26, 26, 26, 0.15); }

.nav-item {
  position: relative;
  min-width: 198px;
  border-top: 1px solid #292b30; }

.nav-item:first-child {
  border-top: none; }

.nav-item:first-child .nav-link {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0; }

.nav-item:last-child .nav-link {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px; }

.nav-link {
  display: block;
  color: #d9ddea;
  text-shadow: 1px 1px #33353b;
  text-decoration: none;
  padding-left: 40px; }

.nav-item > .nav-link {
  background: #4c4e58;
  /* Old browsers */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c4e58), color-stop(100%, #3f424a));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #4c4e58 0%, #3f424a 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #4c4e58 0%, #3f424a 100%);
  /* FF3.6+ */
  background: -o-linear-gradient(top, #4c4e58 0%, #3f424a 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #4c4e58 0%, #3f424a 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #4c4e58 0%, #3f424a 100%);
  /* W3C */
  -webkit-box-shadow: inset 1px 1px 0 0 #5e6169;
  -moz-box-shadow: inset 1px 1px 0 0 #5e6169;
  -o-box-shadow: inset 1px 1px 0 0 #5e6169;
  -ms-box-shadow: inset 1px 1px 0 0 #5e6169;
  box-shadow: inset 1px 1px 0 0 #5e6169; }

.nav-link:before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background: #fff;
  left: 11px;
  top: 12px;
  background: url("http://maiordom.github.io/images/css-live/task17.sprite.png") no-repeat; }

.nav-notify {
  float: right;
  position: relative;
  margin-right: 25px; }

.nav-notify:after {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  top: 50%;
  right: -10px;
  margin-top: -2px;
  border: 1px solid #2c2b30;
  background: #f49595;
  /* Old browsers */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f49595), color-stop(100%, #ea3636));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f49595 0%, #ea3636 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #f49595 0%, #ea3636 100%);
  /* FF3.6+ */
  background: -o-linear-gradient(top, #f49595 0%, #ea3636 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f49595 0%, #ea3636 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f49595 0%, #ea3636 100%);
  /* W3C */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 2px rgba(255, 0, 0, 0.2);
  -moz-box-shadow: 0 0 2px rgba(255, 0, 0, 0.2);
  -o-box-shadow: 0 0 2px rgba(255, 0, 0, 0.2);
  -ms-box-shadow: 0 0 2px rgba(255, 0, 0, 0.2);
  box-shadow: 0 0 2px rgba(255, 0, 0, 0.2); }

.nav-item-has-sub > .nav-link:after {
  content: "";
  display: block;
  position: absolute;
  width: 11px;
  height: 6px;
  top: 18px;
  right: 13px;
  background: url("http://maiordom.github.io/images/css-live/task17.sprite.png") 0 -72px no-repeat; }

.nav-icon {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0 11px;
  width: 18px;
  height: 18px;
  background: url("http://maiordom.github.io/images/css-live/task17.sprite.png") no-repeat;
  margin-top: -2px; }

.nav-item:hover .nav-icon_home:before {
  background-position: -18px 0; }

.nav-item:hover .nav-icon_gallery:before {
  background-position: -18px -18px; }

.nav-item:hover .nav-icon_logout:before {
  background-position: -18px -36px; }

.nav-icon_home:before {
  background-position: 0 0; }

.nav-icon_gallery:before {
  background-position: 0 -18px; }

.nav-icon_logout:before {
  background-position: 0 -36px; }

.nav-icon_sub:before {
  background-position: 0 -54px; }

/* End | Nav */
/* ------- Sub Nav -------
   ======================= */
.subnav {
  overflow: hidden;
  height: 0;
  -webkit-transition: height 0.25s linear;
  -moz-transition: height 0.25s linear;
  -ms-transition: height 0.25s linear;
  -o-transition: height 0.25s linear;
  transition: height 0.25s linear; }

.subnav:hover,
.nav-link:hover ~ .subnav-3-items {
  height: 123px; }

.subnav-item {
  position: relative;
  border-top: 1px solid #292b30; }

.subnav-link {
  background: #35373d;
  /* Old browsers */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #35373d), color-stop(100%, #313339));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #35373d 0%, #313339 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #35373d 0%, #313339 100%);
  /* FF3.6+ */
  background: -o-linear-gradient(top, #35373d 0%, #313339 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #35373d 0%, #313339 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #35373d 0%, #313339 100%);
  /* W3C */
  -webkit-box-shadow: inset 0 1px 0 0 #3a3c42;
  -moz-box-shadow: inset 0 1px 0 0 #3a3c42;
  -o-box-shadow: inset 0 1px 0 0 #3a3c42;
  -ms-box-shadow: inset 0 1px 0 0 #3a3c42;
  box-shadow: inset 0 1px 0 0 #3a3c42; }

.subnav-item:first-child .subnav-link {
  -webkit-box-shadow: inset 0 2px 1px -1px rgba(34, 34, 34, 0.25);
  -moz-box-shadow: inset 0 2px 1px -1px rgba(34, 34, 34, 0.25);
  -o-box-shadow: inset 0 2px 1px -1px rgba(34, 34, 34, 0.25);
  -ms-box-shadow: inset 0 2px 1px -1px rgba(34, 34, 34, 0.25);
  box-shadow: inset 0 2px 1px -1px rgba(34, 34, 34, 0.25); }

.subnav-item:last-child .subnav-link {
  -webkit-box-shadow: inset 0 -2px 1px -1px rgba(34, 34, 34, 0.3), inset 0 2px 1px -2px rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 -2px 1px -1px rgba(34, 34, 34, 0.3), inset 0 2px 1px -2px rgba(255, 255, 255, 0.25);
  -o-box-shadow: inset 0 -2px 1px -1px rgba(34, 34, 34, 0.3), inset 0 2px 1px -2px rgba(255, 255, 255, 0.25);
  -ms-box-shadow: inset 0 -2px 1px -1px rgba(34, 34, 34, 0.3), inset 0 2px 1px -2px rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 -2px 1px -1px rgba(34, 34, 34, 0.3), inset 0 2px 1px -2px rgba(255, 255, 255, 0.25); }

.subnav-link:hover {
  background: #3a60d1;
  /* Old browsers */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3a60d1), color-stop(100%, #2b48c1));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #3a60d1 0%, #2b48c1 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #3a60d1 0%, #2b48c1 100%);
  /* FF3.6+ */
  background: -o-linear-gradient(top, #3a60d1 0%, #2b48c1 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #3a60d1 0%, #2b48c1 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #3a60d1 0%, #2b48c1 100%);
  /* W3C */
  -webkit-box-shadow: inset 1px 1px 0 0 #5072d4;
  -moz-box-shadow: inset 1px 1px 0 0 #5072d4;
  -o-box-shadow: inset 1px 1px 0 0 #5072d4;
  -ms-box-shadow: inset 1px 1px 0 0 #5072d4;
  box-shadow: inset 1px 1px 0 0 #5072d4;
  text-shadow: 1px 1px #253d95; }

.subnav-link:hover.nav-icon_sub:before {
  background-position: -18px -54px; }

/* End | Sub Nav */
/* End | Task 17 */
